<header id="header">
    <nav class="nav-first container-fluid">
        <div class="container">
            <div class="row">
                <div click="redirect" data-href="/" class="brand text-center col-10 d-flex align-item-center cursor-p">
                    <a href="/"> <img src="<?php echo $web_logo;?>" style="width:200px;height:50px"></a>
                </div>
                <div class="col-28 d-flex justify-content-center align-item-center search-box">
                    <form method="GET" class="search-form form px-0 d-flex justify-content-end align-items-center">
                        <input type="text" style="display:none" name="m" value="search-type-so-0.html" />
                        <div class="input-group">
                            <input name="TXT" class="form-control" type="search" value="">
                            <div class="input-group-append cursor-p" needAuth>
                                <button class="input-group-text" type="submit"><i class="border-0 fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="user-option col-12 d-flex justify-content-end align-items-center">
                    <a href="<?php echo $dizhi1;?>"><button class="login-btn btn btn-sm btn-outline-secondary ml-3">发布地址一</button></a>
                    <a href="<?php echo $dizhi2;?>"><button class="login-btn btn btn-sm btn-outline-secondary ml-3">发布地址二</button></a>
                </div>

            </div>

        </div>
    </nav>
    <div class="nav-box">
        <div class="nav-left">
            <nav class="nav-second container">
                <ul class="nav mr-auto">
                    <li class="nav-item"><a class="nav-link d-flex align-items-center " href="/">在线一区</a></li>
                    <li class="nav-item"><a class="nav-link d-flex align-items-center " href="/?m=vod-type-5-0.html">日韩有码</a></li>
                    <li class="nav-item"><a class="nav-link d-flex align-items-center " href="/?m=vod-type-6-0.html">日韩无码</a></li>
                    <li class="nav-item"><a class="nav-link d-flex align-items-center " href="/?m=vod-type-7-0.html">欧美视频</a></li>
                    <li class="nav-item"><a class="nav-link d-flex align-items-center " href="/?m=vod-type-8-0.html">国产视频</a></li>
                    <li class="nav-item"><a class="nav-link d-flex align-items-center " href="/?m=vod-type-9-0.html">偷拍自拍</a></li>
                    <li class="nav-item"><a class="nav-link d-flex align-items-center " href="/?m=vod-type-10-0.html">成人动漫</a></li>
                    <li class="nav-item"><a class="nav-link d-flex align-items-center " href="/?m=vod-type-11-0.html">经典三级</a></li>
                    <li class="nav-item"><a class="nav-link d-flex align-items-center " href="/?m=vod-type-15-0.html">美熟少妇</a></li>
                    <li class="nav-item"><a class="nav-link d-flex align-items-center " href="/?m=vod-type-16-0.html">变态另类</a></li>					
                </ul>

            </nav>
  
            <nav class="nav-second container">
                <ul class="nav mr-auto">
                    <li class="nav-item"><a class="nav-link d-flex align-items-center " href="/">直播专区</a></li>
                    <li class="nav-item"><a class="nav-link d-flex align-items-center " href="/?m=zhibo-type-24-1.html">精选直播</a></li>
                    <li class="nav-item"><a class="nav-link d-flex align-items-center " href="/?m=zhibo-type-25-1.html">女性直播</a></li>
                    <li class="nav-item"><a class="nav-link d-flex align-items-center " href="/?m=zhibo-type-26-1.html">男性直播</a></li>
                    <li class="nav-item"><a class="nav-link d-flex align-items-center " href="/?m=zhibo-type-27-1.html">男女直播</a></li>
                    <li class="nav-item"><a class="nav-link d-flex align-items-center " href="/?m=zhibo-type-28-1.html">人妖直播</a></li>
                    <li class="nav-item"><a class="nav-link d-flex align-items-center ">预留位置</a></li>
                </ul>
            </nav>
        </div>
        <div class="nav-right">
            <img src="<?php echo '/template/'.$web_moban;?>/images/aizi.jpg" />
        </div>
    </div>
    <div class="msg">
        <i class="icon iconfont icon-gonggao"></i>
        <div class="marquee ">
            <p><?php echo $dizhigongao;?></p>
        </div>
    </div>
</header>


<center style="max-width: 1200px;margin: 1.5rem auto .5rem;">
    <?php	Jccms_json_ad_top('<a href="链接"  target="_blank"  ><img style="width:100%;height:80px;margin-bottom:2px;" src="图片"></a><br>');?>
</center>