<div id="pageTop" class="propaganda"></div>
<header class="page_top" id="top">
    <div class="bg_layer">
        <div class="wapper_wide flex_row">
            <a href="/" class="logo logo_t"><img src="<?php echo $web_logo;?>" style="height:40px;width:100%"></a>
            <div class="logo slogan">
                <a class="fb-a" href="<?php echo $dizhi2;?>" target="_blank">发布地址二</a>
                <a class="fb-a" href="<?php echo $dizhi1;?>" target="_blank">发布地址一</a>
            </div>
            <div class="search ">
                <form method="GET" id="searchForm">
                    <input type="text" style="display:none" name="m" value="search-type-so-0.html" />
                    <input class="input" type="text" name="TXT" id="kd" autocomplete="off" />
                    <button class="btn iconfont icon_search" type="submit"></button>
                </form>




            </div>
        </div>
        <nav class="nav wapper_wide iconfont icon_swap">
            <a class="link index" href="/">首页</a>
            <a class="link index" href="/"></a>

            <div class="shade"></div>
            <ul class="ul">
                <li class="li"> <a class="link index" href="/">首页</a> </li>
                <li class="li">
                    <a class="link index" href="/"></a>
                </li>
                <li class="li has_sub"> <a class="link" href="javascript:;">视频一区</a>
                    <div class="sub_nav less_1024">
                        <div class="flex_row flex_nowarp">
                            <a class="link" href="/?m=vod-type-5-0.html">日韩有码</a>
                            <a class="link" href="/?m=vod-type-6-0.html">日韩无码</a>
                            <a class="link" href="/?m=vod-type-7-0.html">欧美视频</a>
                            <a class="link" href="/?m=vod-type-8-0.html">国产视频</a>
                            <a class="link" href="/?m=vod-type-9-0.html">偷拍自拍</a>
                            <a class="link" href="/?m=vod-type-10-0.html">成人动漫</a>
                            <a class="link" href="/?m=vod-type-11-0.html">经典三级</a>
                            <a class="link" href="/?m=vod-type-15-0.html">美熟少妇</a>
                            <a class="link" href="/?m=vod-type-16-0.html">变态另类</a>

                        </div>
                    </div>
                </li>

                <li class="li has_sub"> <a class="link" href="javascript:;">直播专区</a>
                    <div class="sub_nav less_1024">
                        <div class="flex_row flex_nowarp">
                            <a class="link" href="/?m=zhibo-type-24-1.html">精选直播</a>
                            <a class="link" href="/?m=zhibo-type-25-1.html">女性直播</a>
                            <a class="link" href="/?m=zhibo-type-26-1.html">男性直播</a>
                            <a class="link" href="/?m=zhibo-type-27-1.html">男女直播</a>
                            <a class="link" href="/?m=zhibo-type-28-1.html">人妖直播</a>
                            <a class="link">预留位置</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <div class="screen_roll">
        <div class="flex_row wapper_wide iconfont icon_anounce">
            <div class="marquee">
                <p class="p">公告：
                    <?php echo $dizhigongao;?>
                </p>
            </div>
        </div>
    </div> <br><br>
    <div class="banner wapper_wide">
        <?php	Jccms_json_ad_top('<a href="链接"  target="_blank"  ><img style="width:100%;height:80px;margin-bottom:2px;" src="图片"></a><br>');?>
    </div>
</header>