  <div class="headed"></div>
  <div id="header">
   <div id="header_top">
    <div id="logo">
     <a class="logo" target="_blank" href="/"><img src="<?php echo $web_logo;?>" alt="<?php echo $web_title;?>" style="width:240px" /></a>
    </div>
    <div id="search">

	
	
     <form method="GET">
	 <input type="text" style="display:none" name="m" value="search-type-so-0.html" />
      <div style="float:left;">
	  <a  id="dizhi" href="<?php echo $dizhi1;?>"  target="_blank" >发布地址一</a>
      </div>
      <div style="float:left;">
	  <a  id="dizhi" href="<?php echo $dizhi2;?>"  target="_blank" >发布地址二</a>
      </div>
	  
      <div style="float:left;">
       <input name="TXT" type="text" class="searchbox-input" id="wd" value="" />
      </div>
      <div style="float:left">
       <input type="submit" value="搜索" class="searchbox-button" />
      </div>
     </form>
    </div>
   </div>
   <div id="menu">
    <div id="nav">
     <ul class="nav-online">
      <li class="nav_h"><a href="/" target="_blank">在线一区</a></li>
		<li><a  href="/?m=vod-type-5-0.html">日韩有码</a></li>                                                                
		<li><a  href="/?m=vod-type-6-0.html">日韩无码</a></li>                                                                 
		<li><a  href="/?m=vod-type-7-0.html">欧美视频</a></li>                                                                 
		<li><a  href="/?m=vod-type-8-0.html">国产视频</a></li>                                                                 
		<li><a  href="/?m=vod-type-9-0.html">偷拍自拍</a></li>                                                                 
		<li><a  href="/?m=vod-type-10-0.html">成人动漫</a></li>
		<li><a  href="/?m=vod-type-11-0.html">经典三级</a></li>
		<li><a  href="/?m=vod-type-15-0.html">美熟少妇</a></li>
		<li><a  href="/?m=vod-type-16-0.html">变态另类</a></li>		
     </ul>

     <ul class="nav-arc">
      <li class="nav_h"><a href="/" target="_blank">直播专区</a></li>
		<li><a  href="/?m=zhibo-type-24-1.html">精选直播</a></li>
		<li><a  href="/?m=zhibo-type-25-1.html">女性直播</a></li>
		<li><a  href="/?m=zhibo-type-26-1.html">男性直播</a></li>
		<li><a  href="/?m=zhibo-type-27-1.html">男女直播</a></li>
		<li><a  href="/?m=zhibo-type-28-1.html">人妖直播</a></li>
		<li><a >预留位置</a></li>  
     </ul>	 
    </div>
	<?php	Jccms_json_ad_top('<a href="链接"  target="_blank"  ><img style="width:100%;height:100px;margin-bottom:2px;" src="图片"></a>');?>
  
   </div>
 
  </div>
  <div class="toped"></div>

