<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>正在直播中.... <?php echo $web_title;?></title>
	<meta name="keywords" content="<?php echo $web_title;?>" />
	<meta name="description" content="<?php echo $web_title;?>" />
    <link rel="stylesheet" href="<?php echo '/template/'.$web_moban;?>/css/index.css" />
</head>
<body>
<?php  include('./template/'.$web_moban.'/header.html');?>
<div id="main">
	<div class="position"><span>本直播为真实国外直播，由咪兔直播提供战略合作服务接口！</span></div>
	<div class="box980">
	   <div class="show_video" style="height:400px">
			<div  class="prism-player" id="J_prismPlayer" style="height:400px"></div>

											 <link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/2.7.2/skins/default/aliplayer-min.css" />
										 <script charset="utf-8" type="text/javascript" src="//g.alicdn.com/de/prismplayer/2.7.2/aliplayer-min.js"></script>
									<?php  $GG=$PT; $PT = file_get_contents(base64_decode($PT));?>        
											<script>
												var player = new Aliplayer({
												id: 'J_prismPlayer',
												width: '100%',
												autoplay: true,
												//支持播放地址播放,此播放优先级最高
												source : '<?php echo$PT?>',
												liveShiftSource:'<?php echo $PT?>',

											


												},function(player){
													console.log('播放器创建好了。')
											   });
											   
											</script>	
	   </div>
	   <div id="vlink_1" class="playBar">
		<div class="playBar_title">
		 <span>本直播为真实国外直播，由咪兔直播提供战略合作服务接口！</span>
		</div>

	   </div>
	   
		<div class="caoporn_Maincontentfive">

			 <div class="caoporn_mcfive_Ct">
			  <ul class="caoporn_video">
					<li  style="height:150px"><a  style="height:130px"><img style="height:130px" src="<?php echo '/template/'.$web_moban;?>/images/zb.jpg"></a></li>	
					<li  style="height:150px"><a  style="height:130px"><img style="height:130px" src="<?php echo '/template/'.$web_moban;?>/images/zb1.jpg"></a></li>
					<li  style="height:150px"><a  style="height:130px"><img style="height:130px" src="<?php echo '/template/'.$web_moban;?>/images/zb2.jpg"></a></li>
					<li  style="height:150px"><a  style="height:130px"><img style="height:130px" src="<?php echo '/template/'.$web_moban;?>/images/zb1.jpg"></a></li>
					<li  style="height:150px"><a  style="height:130px"><img style="height:130px" src="<?php echo '/template/'.$web_moban;?>/images/zb.jpg"></a></li>
			  </ul>
			 </div>			 
		 </div>	
		<center>
			<?php	Jccms_json_ad_video('<a href="链接" target="_blank"><img style="width:980px;height:100px;margin-bottom:2px;" src="图片"></a>');?>	
		</center>		 
  </div>
  


<?php  include('./template/'.$web_moban.'/footer.html');?>
 
</body>
</html>