<link href="{maccms:path_tpl}images/bootstrap.css" rel="stylesheet">
<link href="{maccms:path_tpl}images/nky.css" rel="stylesheet">
<link href="{maccms:path_tpl}images/font-awesome.min.css" rel="stylesheet">
<link href="{maccms:path_tpl}images/simple-line-icons.min.css" rel="stylesheet" type="text/css">
<link href="{maccms:path_tpl}images/default.css" rel="stylesheet">
<link href="{maccms:path_tpl}images/layout.css" rel="stylesheet" type="text/css">
<link href="{maccms:path_tpl}images/custom.css" rel="stylesheet" type="text/css">
<script>var SitePath='{maccms:path}',SiteAid='{maccms:siteaid}',SiteTid='{maccms:sitetid}',SiteId='{maccms:siteid}';</script>
<script src="{maccms:path}js/jquery.js"></script>
<script src="{maccms:path}js/jq/jquery.lazyload.js"></script>
<script src="{maccms:path}js/jq/jquery.autocomplete.js"></script>
<script src="{maccms:path_tpl}js/home.js"></script>
<script src="{maccms:path_tpl}js/tpl.js"></script>