<div align="center">
	<!-- AD -->
</div>
<div style=" width:100%; height:1px;">
</div>
<hr>
<footer>
<div class="row">
	<div class="col-md-8">
		<div class="col-md-2">
			<img src="{maccms:path_tpl}images/18Footer.gif" width="79" height="69">
		</div>
		<div class="col-md-10">
			<p>
							本網站已依網站內容分級規定處理。本網站提供成人在線影音服務，進入參觀之前，請先確定您已年滿法律許可之法定年齡！如果您是未滿18歲者或對成人情色反感，建議您也請勿參訪本站！
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<p>
						Copyright © {maccms:url} {maccms:name}  2017
		</p>
	</div>
</div>
</footer>
</div>
<div style="display:none">
  {maccms:visits}
</div>
</div>