            <!-- 抽屉式边栏 -->
            <div id="my-id" class="uk-offcanvas">
                <div class="uk-offcanvas-bar">
                    <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
                        <li class="uk-parent uk-active">
                            <a href="#" class="icon iconfont icon-shipin">视频一区</a>
                            <ul class="uk-nav-sub">
							<li><a  href="/?m=vod-type-5-0.html">日韩有码</a></li>                                                                
							<li><a  href="/?m=vod-type-6-0.html">日韩无码</a></li>                                                                 
							<li><a  href="/?m=vod-type-7-0.html">欧美视频</a></li>                                                                 
							<li><a  href="/?m=vod-type-8-0.html">国产视频</a></li>                                                                 
							<li><a  href="/?m=vod-type-9-0.html">偷拍自拍</a></li>                                                                 
							<li><a  href="/?m=vod-type-10-0.html">成人动漫</a></li>				
							<li><a  href="/?m=vod-type-11-0.html">经典三级</a></li>
							<li><a  href="/?m=vod-type-15-0.html">美熟少妇</a></li>
							<li><a  href="/?m=vod-type-16-0.html">变态另类</a></li>
                            </ul>
                        </li>
                
                        <li class="uk-parent ">
                            <a href="#" class="icon iconfont icon-maikefeng">直播专区</a>
                            <ul class="uk-nav-sub">
							<li><a  href="/?m=zhibo-type-24-1.html">精选直播</a></li>
							<li><a  href="/?m=zhibo-type-25-1.html">女性直播</a></li>
							<li><a  href="/?m=zhibo-type-26-1.html">男性直播</a></li>
							<li><a  href="/?m=zhibo-type-27-1.html">男女直播</a></li>
							<li><a  href="/?m=zhibo-type-28-1.html">人妖直播</a></li>
							<li><a >预留位置</a></li> 
                            </ul>
                        </li>						
                    </ul>
                </div>
            </div>
		
     