    <!--[if lte IE 9]>
    <div class="mdui-text-center mdui-p-a-2 mdui-typo lteie9">您的浏览器版本太低了，为了能更好的体验本站，请升级您的浏览器。点击链接下载最新版本的浏览器：<a href="http://ie.microsoft.com" >IE</a>、<a href="http://www.google.cn/chrome/" >chrome(谷歌浏览器)</a>、<a href="http://www.firefox.com.cn/" >Firefox(火狐浏览器)</a>，推荐使用谷歌浏览器</div>
    <![endif]-->
    <div class="w1200 uk-clearfix">
        <!-- 左边 -->
        <div class="left-nav uk-float-left">
            <div class="logo">
                <a href="/">
                   <img src="<?php echo $web_logo;?>" alt="<?php echo $web_title;?>">
                </a>
            </div>
            <div class="line">
                <hr>
            </div>
            <div class="common-tab uk-flex">
                <a href="#" class="tab-a uk-flex-item-1" id="tab-tag">导航</a>
                <div class="tab-indicator"></div>
            </div>

            <div class="menu-tag" id="menu-tag">
                <ul class="uk-nav uk-nav-side uk-nav-parent-icon " data-uk-nav>
                    <li class="uk-parent uk-active">
                        <a href="#" class="icon">
                            <i class="icon iconfont icon-shipin"></i>
                            视频区
                        </a>
                        <ul class="uk-nav-sub">
							<li><a  href="/?m=vod-type-5-0.html">日韩有码</a></li>                                                                
							<li><a  href="/?m=vod-type-6-0.html">日韩无码</a></li>                                                                 
							<li><a  href="/?m=vod-type-7-0.html">欧美视频</a></li>                                                                 
							<li><a  href="/?m=vod-type-8-0.html">国产视频</a></li>                                                                 
							<li><a  href="/?m=vod-type-9-0.html">偷拍自拍</a></li>                                                                 
							<li><a  href="/?m=vod-type-10-0.html">成人动漫</a></li>				
							<li><a  href="/?m=vod-type-11-0.html">经典三级</a></li>
							<li><a  href="/?m=vod-type-15-0.html">美熟少妇</a></li>
							<li><a  href="/?m=vod-type-16-0.html">变态另类</a></li>
                        </ul>
                    </li> 					
                    <li class="uk-parent ">
                        <a href="#" class="icon">
                            <i class=" iconfont icon-maikefeng"></i>
                            <span>直播区</span>
                        </a>

                        <ul class="uk-nav-sub">
							<li><a  href="/?m=zhibo-type-24-1.html">精选直播</a></li>
							<li><a  href="/?m=zhibo-type-25-1.html">女性直播</a></li>
							<li><a  href="/?m=zhibo-type-26-1.html">男性直播</a></li>
							<li><a  href="/?m=zhibo-type-27-1.html">男女直播</a></li>
							<li><a  href="/?m=zhibo-type-28-1.html">人妖直播</a></li>
							<li><a >预留位置</a></li> 
                        </ul>
                    </li>					
                </ul>
            </div>

            


        </div>


        <!-- 右侧 -->
        <div class="right-content uk-float-left">
            <div class="uk-clearfix">
                <!-- 搜索 -->
                <div class="search">
                    <form >
					<input type="text" style="display:none" name="m" value="search-type-so-0.html" />
                        <input type="text" name="TXT" class="search-input" placeholder="请输入影片名或演员名">
	
                       <button><i class="icon iconfont icon-sousuo"></i></button>
                    </form>
                </div>
                <button class="icon iconfont icon-shoucang uk-float-right">Ctrl+D收藏本站</button>
                <p class="h-tip uk-float-right uk-margin-right">提示：点击查看永久收藏和无法观看电影说明</p>
                <a href="<?php echo $dizhi1;?>" class="uk-button h-line uk-margin-small-left">备用线路一</a>
                <a href="<?php echo $dizhi2;?>" class="uk-button h-line uk-margin-small-left">备用线路二</a>
            </div>
            
            <!-- 分割线 -->
            <div class="line">
                <hr>
            </div>
			
			 <center>
				<?php	Jccms_json_ad_top('<a href="链接"  target="_blank"  ><img style="width:980px;height:100px;margin-bottom:2px;" src="图片"></a>');?>	
			</center>           
            <!-- 分割线 -->
            <div class="line">
                <hr>
            </div>