<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><?php echo $web_title;?></title>
	<meta name="keywords" content="<?php echo $web_keywords;?>" />
	<meta name="description" content="<?php echo $web_description;?>" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="<?php echo '/template/'.$web_moban;?>/css/uikit.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="<?php echo '/template/'.$web_moban;?>/css/common.min.css" />
    <link rel="stylesheet" href="<?php echo '/template/'.$web_moban;?>/font/iconfont.css" />
    <script src="<?php echo '/template/'.$web_moban;?>/js/jquery.js"></script>
    <script src="<?php echo '/template/'.$web_moban;?>/js/uikit.min.js"></script>
</head>
<body>
 <?php  include('./template/'.$web_moban.'/header.html');?>
            <!-- 视频列表 -->
            <div class="right-container">
                <!-- 视频分类 -->
                <div class="list-videos uk-margin-top uk-margin-bottom">
                    <div class="video-head uk-clearfix">
                        <h3 class="h3-color uk-float-left">直播分类：<?php echo $C_T_2_name;?></h3>
                        <p class="title-tips uk-float-right">
                            公告： <?php echo $dizhigongao;?>
                        </p>
                    </div>
                    <div class="video-content uk-grid uk-grid-small">
										<style>
					.right-content .video-content .video-pic:after {
						content: '';
						font-size: 0px;
						position: absolute;
						width: 100%;
						height: 100%;
						left: 0;
						top: -50%;
						background: rgba(0,0,0,0.6) url(<?php echo './template/'.$web_moban;?>/images/zb.gif) no-repeat center center;
						text-align: center;
						background-size: 0%;
						padding-top: 57.87%;
						z-index: 5;
						opacity: 0;
						-webkit-transition: all 0.2s;
						-o-transition: all 0.2s;
						-moz-transition: all 0.2s;
						transition: all 0.2s;
					}
					</style>
					
<?php

 $json_string = file_get_contents($zhibourl);
// 把JSON字符串转成PHP数组
 $data = json_decode($json_string, true);
 $datas = $data['fileinfo'];
 $pageresult = $data['pageresult'];
  $page = $data['page'];




$i=0;

foreach($datas as $val) {

		 $address=$val['m3u8'];
		$img=$val['pic'];

		$title=$val['name'];
?>
                        <div class="uk-width-1-3 uk-margin-bottom">
                            <a href="/?m=zhibo-neiron-id-<?php echo base64_encode($address)?>.html" class="video-pic uk-display-block">
                              	<span class="live-tag"></span>
                                <img src="<?php echo $img?>" alt="<?php echo $title ?>">
                            </a>
                            <div class="video-title">
                                <a href="#" class="uk-margin-small-bottom uk-margin-small-top uk-display-block"><?php echo $title ?></a>
                                <div class="uk-clearfix uk-margin-small-top">
                                    <p class="video-play uk-float-left">
                                        <i class="icon iconfont icon-play"></i>
                                        <span>直播频道</span>
                                    </p>
                                    <p class="video-like uk-float-left uk-margin-left">
                                        <i class="icon iconfont icon-like"></i>
                                        <span>时实直播</span>
                                    </p>
                                </div>
                            </div>
                        </div>
<?php				
}

?>
										
   

                    </div>
                </div>
                <!-- 分页 -->
                <div class="pagination">
                    <ul class="uk-clearfix">
<?php
 $page=$JCCMS_page;


if($page  >= 1 ){
  $pages="1";
}else{
 $pages= $page-1;	
}


if($page >= $pageresult ){
$pagex=$pageresult;	
}else{
$pagex=$page+1;		
}

?>					
                        <li><a href="#">共<?php echo $pageresult;?>页</a></li>
                        <li><a href="#">当前<?php echo $page;?>页</a></li>	
						<li><a href="/?m=zhibo-type-<?php echo $C_T_2_type; ?>-<?php echo $pages;?>.html"><i class="icon iconfont icon-arrowleft"></i></a></li>
						
<?php
if($JCCMS_page < $pageresult-10){
?>
<li><a href="/?m=zhibo-type-<?php echo $C_T_2_type; ?>-<?php echo  $JCCMS_page+1;?>.html"><?php echo  $JCCMS_page+1;?></a></li>
<li><a href="/?m=zhibo-type-<?php echo $C_T_2_type; ?>-<?php echo   $JCCMS_page+2;?>.html"><?php echo   $JCCMS_page+2;?></a></li>
<li><a href="/?m=zhibo-type-<?php echo $C_T_2_type; ?>-<?php echo   $JCCMS_page+3;?>.html"><?php echo   $JCCMS_page+3;?></a></li>
<li><a href="/?m=zhibo-type-<?php echo $C_T_2_type; ?>-<?php echo   $JCCMS_page+4;?>.html"><?php echo   $JCCMS_page+4;?></a></li>
<li><a href="/?m=zhibo-type-<?php echo $C_T_2_type; ?>-<?php echo   $JCCMS_page+5;?>.html"><?php echo   $JCCMS_page+5;?></a></li>
<li><a href="/?m=zhibo-type-<?php echo $C_T_2_type; ?>-<?php echo   $JCCMS_page+6;?>.html"><?php echo   $JCCMS_page+6;?></a></li>
<li><a href="/?m=zhibo-type-<?php echo $C_T_2_type; ?>-<?php echo   $JCCMS_page+7;?>.html"><?php echo   $JCCMS_page+7;?></a></li>
<li><a href="/?m=zhibo-type-<?php echo $C_T_2_type; ?>-<?php echo   $JCCMS_page+8;?>.html"><?php echo   $JCCMS_page+8;?></a></li>
<li><a href="/?m=zhibo-type-<?php echo $C_T_2_type; ?>-<?php echo   $JCCMS_page+9;?>.html"><?php echo   $JCCMS_page+9;?></a></li>
<li><a href="/?m=zhibo-type-<?php echo $C_T_2_type; ?>-<?php echo   $JCCMS_page+10;?>.html"><?php echo   $JCCMS_page+10;?></a></li>
<?php

}
?>						
						
						<li><a href="/?m=zhibo-type-<?php echo $C_T_2_type; ?>-<?php echo $pagex;?>.htm"><i class="icon iconfont icon-arrowright"></i></a></li>
                    </ul>
                </div>

                <div class="line">
                    <hr>
                </div>



            </div>
        </div>
    </div>
	

<?php  include('./template/'.$web_moban.'/footer.html');?>
</body>
</html>		
