<div id="warp">
	<div id="top" style="color: #ffffff">
		<table cellspacing="0" cellpadding="0" width="100%" style="background:#330033" border="0">
			<tr>
				<td width="64"><strong></strong></td>
				<td width="470" height="28">
					<a href="<?php echo $dizhi1;?>" target="_blank">
						<font color="#fff">发布地址一</font>
					</a>
					<a href="<?php echo $dizhi2;?>" target="_blank">
						<font color="#fff">发布地址二</font>
					</a>
				</td>
				<td width="400"> <STRONG></STRONG></td>
			</tr>
		</table>
	</div>
	<div id="head">
		<div class="logo"><a href="/"><img src="<?php echo $web_logo;?>" height="50"></a></div>
		<div class="top">
			<div class="search">
				<form method="GET">
					<input type="text" style="display:none" name="m" value="search-type-so-0.html" />
					<div class="inp"><input type="text" name="TXT" value="" /></div>
					<input class="but" type="submit" onmouseover="this.className='serach_over'" onmouseout="this.className='serach_buton'"
					 value="搜索" />
				</form>
			</div>
		</div>
	</div>
	<div id="nav" style="MARGIN-BOTTOM: 20px;">
		<li class="active"><a href="/">视频一区</a></li>
		<li><a href="/?m=vod-type-5-0.html">日韩有码</a></li>
		<li><a href="/?m=vod-type-6-0.html">日韩无码</a></li>
		<li><a href="/?m=vod-type-7-0.html">欧美视频</a></li>
		<li><a href="/?m=vod-type-8-0.html">国产视频</a></li>
		<li><a href="/?m=vod-type-9-0.html">偷拍自拍</a></li>
		<li><a href="/?m=vod-type-10-0.html">成人动漫</a></li>
		<li><a  href="/?m=vod-type-16-0.html">变态另类</a></li>
		<li><a  href="/?m=vod-type-15-0.html">美熟少妇</a></li>
		<li><a  href="/?m=vod-type-11-0.html">经典三级</a></li>
	</div>

	<div id="nav" style="MARGIN-BOTTOM: 20px;">
		<li class="active"><a href="/">直播专区</a></li>
		<li><a href="/?m=zhibo-type-24-1.html">精选直播</a></li>
		<li><a href="/?m=zhibo-type-25-1.html">女性直播</a></li>
		<li><a href="/?m=zhibo-type-26-1.html">男性直播</a></li>
		<li><a href="/?m=zhibo-type-27-1.html">男女直播</a></li>
		<li><a href="/?m=zhibo-type-28-1.html">人妖直播</a></li>
		<li><a>预留位置</a></li>
	</div>
	<div class="top_js">
		<?php	Jccms_json_ad_top('<a href="链接"  target="_blank"  ><img style="width:100%;height:80px;margin-bottom:2px;" src="图片"></a><br>');?>
	</div>
</div>