
			<?php	Jccms_json_ad_top('<li><a target="_blank"  href="链接" ><img style="width:980px;height:100px;margin-bottom:2px;" src="图片"></a></li>');?>	
<div class="stui-header__top clearfix">
					<div class="stui-header__logo"><a class="logo" style="background: url(<?php echo $web_logo;?>) no-repeat; background-size: 100% 100%;" href="/"></a></div>
					<div class="stui-header__search">
						  <form >
					<input type="text" style="display:none" name="m" value="search-type-so-0.html" />
                        <input type="text" name="TXT" class="mac_wd form-control" placeholder="请输入影片名或演员名">
							<button class="submit" id="searchbutton" type="submit" name="submit"></button>
						</form>

					</div>
				</div>
				<div class="stui-header__menu clearfix">
					<ul class="clearfix">
						    <li class="active"><a href="/">首页</a></li>
							<li><a  href="/?m=vod-type-5-0.html">日韩有码</a></li>                                                                
							<li><a  href="/?m=vod-type-6-0.html">日韩无码</a></li>                                                                 
							<li><a  href="/?m=vod-type-7-0.html">欧美视频</a></li>                                                                 
							<li><a  href="/?m=vod-type-8-0.html">国产视频</a></li>                                                                 
							<li><a  href="/?m=vod-type-9-0.html">偷拍自拍</a></li>                                                                 
							<li><a  href="/?m=vod-type-10-0.html">成人动漫</a></li>				
							<li><a  href="/?m=vod-type-11-0.html">经典三级</a></li>
							<li><a  href="/?m=vod-type-15-0.html">美熟少妇</a></li>
							<li><a  href="/?m=vod-type-16-0.html">变态另类</a></li>
					</ul>
				</div>